<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.demo_tebbed">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hospital"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hospital"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity android:name=".Next_scree_Update" />
        <activity android:name=".doupdate" />
        <activity android:name=".faqs" />
        <activity android:name=".Notification" />
        <activity android:name=".Bloodbank_show" />
        <activity android:name=".BloodBank" />
        <activity android:name=".SearchBySpeciality" />
        <activity android:name=".DoctorList" />
        <activity android:name=".Next_Screen" />
        <activity android:name=".First_Screen"
            android:theme="@style/AppTheme1"
            />
        <activity android:name=".NoInternet" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".SearchHospital" />
    </application>

</manifest>